main {
  width: 100%;
}

main section.texto {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section.texto h2 {
  font-size: 32px;
  position: relative;
  right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.texto .logo {
  position: relative;
  width: 64px;
  height: 64px;
  background-image: url("./img/logoChico.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  right: 45px;
  top: -10px;
}

main section.texto h3 {
  padding-top: 50px;
  width: 70%;
  font-size: 21px;
}

main .descripciones {
  margin-top: 120px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

main .descripciones .container {
  width: 240px;
  height: 340px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 1px 8px 0px rgba(0, 0, 0, 0.267);
          box-shadow: 2px 1px 8px 0px rgba(0, 0, 0, 0.267);
}

main .descripciones .container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 5px solid #0062ff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

main .descripciones .container .imgDescripciones {
  background-image: url("../../img/manos.jpg");
  width: 134px;
  height: 134px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

main .descripciones .container p {
  margin-top: 20px;
}

main .container-maps {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container-maps iframe {
  width: 50%;
  min-width: 320px;
  height: 420px;
}

main .container-maps video {
  width: 50%;
  min-width: 320px;
  height: auto;
  margin-bottom: 50px;
}

.comercios {
  width: 100%;
  height: auto;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comercios h2 {
  margin-bottom: 50px;
  font-weight: bold;
}

.comercios .container-comercio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  -webkit-animation: movimiento 10s infinite;
          animation: movimiento 10s infinite;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comercios .container-comercio::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes movimiento {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes movimiento {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (max-width: 768px) {
  .container-maps video {
    width: 100%;
  }
  .container-maps iframe {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */