

            main{
                width: 100%;

                section.texto{
                    text-align: center;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    
                    h2{
                        font-size: 32px;
                        position: relative;
                        right: 25px;
                        display: flex;
                    }
                    .logo{
                        position: relative;
                        width: 64px;
                        height: 64px;
                        background-image: url('./img/logoChico.png');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        right: 45px;
                        top: -10px;
                    }
                    h3{
                        padding-top: 50px;
                        width: 70%;
                        font-size: 21px;
                    }
                }

                .descripciones{
                    margin-top: 120px;
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content:space-around;
                    flex-wrap: wrap;
                    gap: 20px;
                    .container{
                        width: 240px;
                        height: 340px;
                        border: 1px solid black;
                        display: flex;
                        flex-direction: column;
                        justify-content:center;
                        align-items: center;
                        box-shadow: 2px 1px 8px 0px rgba(0, 0,  0, 0.267);
                        &:hover{
                                                    transform: scale(1.1);
                                                    border:5px solid rgb(0, 98, 255);
                                                    transition: all 1s;
                        
                                    }
                        .imgDescripciones{
                            background-image: url('../../img/manos.jpg');
                            width:134px;
                            height:134px;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            margin-bottom: 40px;
                        }

                        p{
                            margin-top:20px;
                        }
                    }

                }


                .container-maps{
                    width: 100%;
                    display: flex;
                    justify-content:center;
                    margin-top: 120px;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items:center;
                    iframe{
                        width: 50%;
                        min-width: 320px;
                        height: 420px;           
                    }

                    video{
                        width: 50%;
                        min-width: 320px;
                        height:auto;    
                        margin-bottom: 50px;
                    }
                }
            }


            .comercios{
                width: 100%;
                height: auto;
                margin-top: 120px;
                display: flex;
                align-items:center;
                flex-direction: column;

                h2{
                    margin-bottom:50px;
                    font-weight: bold;
                }
                .container-comercio{
                    width: 100%;
                    display: flex;
                    gap: 30px;
                    overflow-x: scroll;
                    animation: movimiento 10s infinite;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                &::-webkit-scrollbar {
                    display: none;
                }
                }




            }

            @keyframes movimiento{
                0%{
                    transform: translateX(0px);
                }
                50%{
                    transform: translateX(-40px);
                }
                100%{
                    transform: translateX(0px);
                }
            }

            @media (max-width:768px){

                .container-maps{

                    video{
                        width: 100%;
                    }
                    iframe{
                        width: 100%;
                    }
                }
            }


           