@font-face {
  font-family: 'Light';
  src: url(./fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Light-bold';
  src: url(./fonts/OpenSans-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Light';
}

header {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  width: 100%;
  height: 60px;
}

nav ul.no-responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #22b2c2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul.no-responsive li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0 15px 0 15px;
  height: 100%;
  font-size: 17px;
}

nav ul.no-responsive li:hover {
  background-color: #1ca2b1;
}

nav ul.no-responsive li i {
  font-size: 26px;
  margin-right: 10px;
  color: white;
}

nav ul.no-responsive a {
  color: white;
  text-decoration: none;
  -webkit-transition: 120ms;
  transition: 120ms;
}

nav ul.no-responsive a:hover {
  font-size: 18px;
}

nav .carousel-inner {
  top: -16px;
  width: 100%;
  height: calc(60vh - 60px);
}

nav .carousel-inner .carousel-item .imgOne {
  background-image: url("../../img/carrousel1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav .carousel-inner .carousel-item .imgTwo {
  background-image: url("../../img/carrousel2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav .carousel-inner .imgThree {
  background-image: url("../../img/carrousel3.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  width: 100%;
}

main .container-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container-img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .text-container {
  margin-top: 150px;
  width: 100%;
}

main .text-container h2 {
  position: relative;
  top: 5px;
  margin-left: 45px;
  letter-spacing: 1.5px;
  font-weight: bold;
}

main .text-container p {
  font-size: 18px;
  width: 60%;
  padding: 14px 0 0 45px;
}

main h2.center {
  text-align: center;
  margin: 200px 0 30px 0;
}

main .valores {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .valores .card-valores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 230px;
  background: rgba(240, 240, 240, 0.842);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

main .valores .card-valores:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 3px solid #8d0303;
}

main .valores .card-valores i {
  font-size: 32px;
  padding: 30px;
}

main .valores .card-valores p {
  position: relative;
  top: 10px;
  font-size: 18px;
  text-align: center;
}

footer {
  width: 100%;
  height: 100%;
  margin-top: 150px;
  background-color: #920000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-container_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  height: 350px;
}

footer .footer-container_item i {
  font-size: 55px;
  margin: 0 0 35px 0;
}

footer .footer-container_item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
/*# sourceMappingURL=nosotros.css.map */